body
{
	background-color: #404040;
	font-family: 'Open Sans', sans-serif;
	margin: 0 !important;
}
.wrapper
{
	width: 100%;
}
#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#logo
{
	margin-bottom: 20px;
	width: 75%;
	color: #ffffff;
	font-size: 44px;
	letter-spacing: 3px;
	text-align: center;
	padding: 10px 0;
	float: left;
}
#pole
{	
	margin: 0px;
	width: 512px;
	height: 60px;
}

.test
{
	display: none;
}


#timer
{
	float: left;
	width: 25%;
	font-size: 32px;
	letter-spacing: 3px;
	text-align: center;
	padding: 10px 0;
	color: #ffffff;
}
.menu
{
	width: 100%;
	background-color: #303030;
	color: #ffffff;
	padding: 10px 0;
	text-align: center;
	border-top: 1px solid #202020;
	border-bottom: 1px solid #202020;
}
#topbar
{
	background-color: #ffffff;
	color: #000000; 
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 25px;
	height: 170px;
}
#topbarL
{
	float: left;
	padding: 20px;
	width: 138px;
	text-align: center;
	border-right: 2px dotted #222222;
}
#topbarR
{
	float: left;
	padding: 20px;
	width: 760px;
	font-size: 16px;
	text-align: justify;
}
#sidebar
{
	float: left;
	width: 148px;
	min-height: 620px;
	padding: 20px;
	background-color: lightgray;
	text-align: center;
	font-size: 18px;
	border-right: 2px dotted #666666;
}
#content
{
	float: left;
	padding: 40px;
	width: 730px;
	background-color: #dedede;
	min-height: 580px;
	text-align: justify;
}
#footer
{
	clear: both;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 18px;
}
.optionL
{
	color: #000000;
	font-size: 15px;
	height:25px;
	padding: 10px;
	border-bottom: 2px dotted #444444;
}
.optionL:hover
{
	cursor: pointer;
	background-color: #f36742;
	color: white;
}
.bigtitle
{
	font-size: 32px;
	font-weight: 800px;
	letter-spacing: 2px;
}
.lbigtitle
{
	font-size: 13px;
}
.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}
ol
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}
ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}
ol > li
{
	float: left;
	width: 200px;
	height: 40px;
	border-right: 1px dashed lightgray;
}
ol > li:first-child
{
	border-left: 1px dashed lightgray;
}
ol > li:hover
{
	background-color: #111111;
}
ol > li:hover > a
{
	color: lightgray;
}
ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}
ol > li:hover > ul
{
	display: block;
}
ol > li > ul >li
{
	background-color: #404040;
	position: relative;
	z-index: 100;
	border-top: 1px dashed lightgray;
}
ol > li > ul >li:hover
{
	background-color: #222222;
}
ol > li > ul >li:hover > a
{
	color: lightgray;
}
a.tilelink
{
	color: #000000;
	text-decoration: none;
	display: block;
}